.body-main{
    margin-top: 1rem;
    
}



.item-grid{
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.8); */
    
}
.item-box{
    border: 0.5px solid rgba(100, 100, 100, 0.5);
    border-bottom: none;
}

img{
    padding: 1.2rem;
    max-width: 100%;
    height: auto;
}

.product-description{
    color: #646464;
    font-weight: 700;
    padding-bottom: 1rem;
}

.filters-heading{
    color: #646464;
    font-size: 1.1rem;
    font-weight: 700;
}

.filters-menu{
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}
.filters-menu li{
    font-size: 1rem;
    color: rgba(100, 100, 100, 0.8);
    padding: 0.5rem;
    padding-left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 70%;
}

.filters-menu li:last-child{
    border-bottom: none;
}

.active{
    padding-right: 0 !important;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

@media (min-width: 930px) {
    .body-content{
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

@media (min-width: 320px) and (max-width: 929px) {
    .body-content{
        display: block;
    }

    .product-description{
        font-size: 2rem;
    }

    .item-box{
        padding-bottom: 1rem;
        border: none;
    }
}