.navbar-3{
    background-color: #ffdd00;
    color:   #464646;
    padding: 0.5rem 0;
}

@media (min-width: 930px) {
   
    
}

@media (min-width: 320px) and (max-width: 929px) {

    .navbar-3-content{
        padding-left: 2rem;
    }
}