.navbar-1-trapezoid{
    background-color: #82001c;
    -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    display: flex;
}
.navbar-1-inner-trapezoid{
    padding: 0.5rem;
    width: 35%;
    background-color: #b20127;
    -webkit-clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
    clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
}

.navbar-1-body{
    position: relative;
}
.navbar-1-content{
    top: 0.4rem;
    width: 80%;
    left: 10%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
}


.navbar-1-menu{
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    color: #f8879f;
}
.navbar-1-menu li{
    color: #f8879f;
    font-weight: 600;
    font-size: 0.5rem;
    padding:0  1rem;
    margin-left: 1rem;
}

.leftside-content{
    font-weight: 700;
}
.rightside-content{
    opacity: 0.7;
    margin-left: 2px;
}





.navbar-1-mobile{
    display: flex;
    padding: 1rem;
}

.hamburger-icon{
}
.hamburger-icon div{
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 1rem;
        border-radius: 0.2rem;
}

.logo-mobile{
    background-color: #ffffff;
    padding: 0.5rem 2rem 0.25rem 2rem;
    color: #82001c;
    font-size: 2rem;
    margin: 0 auto;
    border-radius: 0.25rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: 600;

}
@media (min-width: 930px) {

    .navbar-1{
        width: 91%;
        margin: 0 auto;
    }

}

@media (min-width: 320px) and (max-width: 929px) {
    .navbar-1{
        background-color: #82001c;
        width: 100%;
    }
    
}