@import url("./navbar-1.css");
@import url("./navbar-2.css");
@import url("./navbar-3.css");
@import url("./heading-main.css");
@import url("./body-main.css");
@import url("./sidenav.css");
html,
body {
    margin: 0;
}

@media (min-width: 1024px) {
    .for-mobile {
        display: none;
    }
    .box {
        z-index: 1;
        width: 73%;
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
}

@media (max-width: 1023px) {
    .for-desktop {
        display: none;
    }
    .box {
        width: 95%;
        margin: 0 auto;
    }
    html,
    body {
        margin: 0;
        font-size: 62.5%;
    }
}