@import url("./navbar-1.css");
@import url("./navbar-2.css");
@import url("./navbar-3.css");
@import url("./heading-main.css");
@import url("./body-main.css");

html,body{
    margin: 0;
    font-size: 62.5%;
}



@media (min-width: 930px) {
    .for-mobile{
        display: none;
    }

    .box{
        z-index: 1;
        width: 73%;
        margin: 0 auto;
      
    }
}

@media (min-width: 320px) and (max-width: 929px) {
   .for-desktop{
        display: none;
   }
   .box{
    
    width: 100%;
    
}

}